body {
    margin: 0;
    padding: 0;
}

#homeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'beonmedium';
}

#homeDiv form {
    margin-top: 10px;
}



 #buttonFormJoinGame {
    margin-left: 10px;
    font-size: 14px;
}

#buttonCreateGame, #buttonJoinGame {
    margin-top: 30px;
    background-color:grey;
    color: white;
}

#homeDiv input, #buttonJoinGame, #buttonFormJoinGame {
    margin-left: 10px;

}
